@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  themes: light;
  default: true;
  color-scheme: light;
  --color-primary: #4f47e6;
  --color-secondary: teal;
}

input,
textarea {
  border: 3px solid gray !important;
}

a.active {
  color: rgb(0, 199, 33);
}
