@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4f47e6;
  --color-secondary: teal;
}

input,
textarea {
  border: 3px solid gray;
}

a.active {
  color: rgb(0, 199, 33);
}
